.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0px 30px 0px;
}
nav {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  padding: 0px 0px 45px 60px;
}
nav h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ccb87d;
  text-transform: uppercase;
}
nav a {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
