.custom-wrapper {
  width: 100%;
}
.custom-category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-box {
  display: grid;
  grid-template-columns: 37% 23%;
  justify-content: center;
  padding-bottom: 27px;
}
.custom-category img {
  width: 475px;
  height: 54px;
  padding-bottom: 22px;
}
.logo-box img {
  width: 40px;
  height: 40px;
  background: #ccb87d;
  border-radius: 5px;
}
.logo-box {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0px 30px 0px;
}
nav {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  padding: 0px 0px 30px 60px;
}
nav h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ccb87d;
  text-transform: uppercase;
}
nav a {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.card-wrapper {
  display: grid;
  grid-template-columns: 37% 23% 0%;
  justify-content: center;
}
.card-img img {
  width: 370px;
  height: 200px;
}
.point-number {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.BTC {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  width: 24px;
  height: 16px;
  background-color: #ccb87d54;
}
.gram {
  margin-top: 22px;
}
.gram-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.gram-wrapper {
  width: 140px;
  height: 43px;
  background: rgba(204, 184, 125, 0.33);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 7px;
}
.gram select {
  color: #000000;
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 56px;
  padding-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  width: 95%;
  font-family: inherit;
}
