.footer-container .img-box img {
  width: 30px;
  height: 30px;
  stroke: aliceblue;
}
.img-box {
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
}
.footer-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
