.footer {
  background-color: red;
}
.container {
  position: absolute;
  bottom: 20px;
  left: 22%;
}
.bitcoin {
  background-color: #bbbbbb;
  width: 11px;
  height: 11px;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5px;
  font-size: 10px;
}
.container p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #bbbbbb;
  margin: 2px;
}
